<script type="text/javascript">
            $(function() {
            	var bw=$.browser;
				if(bw.msie&&bw.version<7||(bw.msie&&$.support.boxModel==false)){
						//ie6
						$("#plugin_title").hide();
						$('#plugins').removeClass("plugins");
						$('#plugins').addClass("plugins2");
				}else{
					$('#plugins').stop().animate({'marginLeft':'-115px'},1000);
	                $('#plugins').hover(
	                    function () {
	                        $(this).stop().animate({'marginLeft':'-2px'},200);
	                    },
	                    function () {
	                        $(this).stop().animate({'marginLeft':'-115px'},200);
	                    }
	                );
				}
                
            });
</script>
	<div id="plugins" class="plugins">
	<div id="plugin_title" class="plugin_title">控件清单</div>
	<ul>
        <for each="thisClass" in="data">
        {!
            if (thisClass.alias == "_global_"||thisClass.alias == "String") {
            }
            else {
                output += "<li>"+new Link().toClass(thisClass.alias)+"</li>";
            }
        !}
        </for>
	</ul>
</div>